#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

//     0  1  2  3  4       5  6  7  8  9
//    10 11 12 13 14      15 16 17 18 19
// 20 21 22 23 24 25      26 27 28 29 30 31
//          32 33 34      35 36 37
#define LEFT_KEYS 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25
#define LEFT_THUMBS 32 33 34
#define RIGHT_KEYS 5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31
#define RIGHT_THUMBS 35 36 37

#define DEF 0
#define SYS 1
#define NAV 2
#define SYM 3
#define SY2 4
#define LIN 5
#define WIN 6
#define ZMK 7

&mt {
    flavor = "balanced";
    tapping-term-ms = <220>;
    quick-tap-ms = <175>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <220>;
    quick-tap-ms = <175>;
};

/ {
    behaviors {
        ht_mo_tog: ht_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <220>;
            hold-trigger-on-release;
            bindings = <&mo>, <&tog>;
        };
        ht_mo_repeat: ht_mo_repeat {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <220>;
            hold-trigger-on-release;
            bindings = <&mo>, <&key_repeat>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_eszett {
            timeout-ms = <100>;
            key-positions = <33 9>; // Left thumb (nav), right pinky up
            layers = <0 1 2>;
            bindings = <&kp MINUS>;
        };
        combo_ypsilon {
            timeout-ms = <100>;
            key-positions = <33 19>; // Left thumb (nav), right pinky
            layers = <0 1 2>;
            bindings = <&kp Z>;
        };
        combo_enter1 {
            timeout-ms = <100>;
            key-positions = <33 35>; // Left thumb (nav), right thumb left
            layers = <0 1 2 3>;
            bindings = <&kp RET>;
        };
        combo_enter2 {
            timeout-ms = <100>;
            key-positions = <34 36>; // Left thumb right, right thumb (nav)
            layers = <0 1 2 3>;
            bindings = <&kp RET>;
        };
        combo_enter3 {
            timeout-ms = <100>;
            key-positions = <34 35>; // Left thumb right, right thumb left
            layers = <0 1 2 3>;
            bindings = <&kp RET>;
        };
        combo_shift {
            timeout-ms = <100>;
            key-positions = <33 36>; // Left thumb (nav), right thumb (nav)
            layers = <0 1 2 3>;
            bindings = <&kp LSHFT>;
        };
    };

    macros {
        insert_backtick: insert_backtick {
            label = "insert_backtick";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &kp LS(EQUAL) &kp SPACE>;
        };
        insert_caret: insert_caret {
            label = "insert_caret";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &kp GRAVE &kp SPACE>;
        };
        windows_insert_ellipsis: windows_insert_ellipsis {
            label = "windows_insert_ellipsis";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N3 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_doubleRightChevrons: win_doubleRightChevrons {
            label = "win_doubleRightChevrons";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N8 &kp KP_N7>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_doubleLeftChevrons: win_doubleLeftChevrons {
            label = "win_doubleLeftChevrons";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N1>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_lowerOpenDblQuote: win_lowerOpenDblQuote {
            label = "win_lowerOpenDblQuote";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N3 &kp KP_N2>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_upperOpenDblQuote: win_upperOpenDblQuote {
            label = "win_upperOpenDblQuote";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N4 &kp KP_N7>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_upperCloseDblQuote: win_upperCloseDblQuote {
            label = "win_upperCloseDblQuote";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N4 &kp KP_N8>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_longDash: win_longDash {
            label = "win_longDash";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N5 &kp KP_N1>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_dash: win_dash {
            label = "win_dash";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N5 &kp KP_N0>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_bullet: win_bullet {
            label = "win_bullet";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N4 &kp KP_N9>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        linux_bullet: linux_bullet {
            label = "linux_bullet";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp N2 &kp N0 &kp N2 &kp N2 &kp RET>
                ;
        };
        win_upper1: win_upper1 {
            label = "win_upper1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N8 &kp KP_N5>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_upper2: win_upper2 {
            label = "win_upper2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N8>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_upper3: win_upper3 {
            label = "win_upper3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N9>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_singleOpenChevron: win_singleOpenChevron {
            label = "win_singleOpenChevron";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N5 &kp KP_N5>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_singleCloseChevron: win_singleCloseChevron {
            label = "win_singleCloseChevron";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N3 &kp KP_N9>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_cent: win_cent {
            label = "win_cent";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N6 &kp KP_N2>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_yen: win_yen {
            label = "win_yen";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N6 &kp KP_N5>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_lowerSingleOpenQuote: win_lowerSingleOpenQuote {
            label = "win_lowerSingleOpenQuote";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N3 &kp KP_N0>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_upperSingleOpenQuote: win_upperSingleOpenQuote {
            label = "win_upperSingleOpenQuote";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N4 &kp KP_N5>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_upperSingleCloseQuote: win_upperSingleCloseQuote {
            label = "win_upperSingleCloseQuote";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N4 &kp KP_N6>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_pound: win_pound {
            label = "win_pound";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N6 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_heart: win_heart {
            label = "win_heart";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        linux_heart: linux_heart {
            label = "linux_heart";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp N2 &kp N6 &kp N6 &kp N5 &kp RET>
                ;
        };
        win_smilie: win_smilie {
            label = "win_smilie";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N1>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        linux_smilie: linux_smilie {
            label = "linux_smilie";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp N2 &kp N6 &kp N3 &kp A &kp RET>
                ;
        };
        win_copyright: win_copyright {
            label = "win_copyright";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N6 &kp KP_N9>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_registered: win_registered {
            label = "win_registered";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N9>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_trademark: win_trademark {
            label = "win_trademark";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N5 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_flippedQuestion: win_flippedQuestion {
            label = "win_flippedQuestion";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N8>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_flippedExcl: win_flippedExcl {
            label = "win_flippedExcl";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N1 &kp KP_N7 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        win_nbsp: win_nbsp {
            label = "win_nbsp";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N2 &kp KP_N5 &kp KP_N5>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        linux_nbsp: linux_nbsp {
            label = "linux_nbsp";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp N0 &kp N0 &kp A &kp N0 &kp RET>
                ;
        };
    };

keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp X          &kp V          &kp L            &kp C              &kp W             /* | */        &kp K          &kp H              &kp G            &kp F            &kp Q
            &kp U          &kp I          &kp A            &kp E              &kp O             /* | */        &kp S          &kp N              &kp R            &kp T            &kp D
&lt ZMK DEL &kp LBKT       &kp SEMI       &kp SQT          &kp P              &kp Y             /* | */        &kp B          &kp M              &mt RCTRL COMMA  &mt LALT DOT     &kp J  &ht_mo_tog ZMK SYS
                                          /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                       &ht_mo_repeat SYM 0 &lt NAV SPACE      &kp LSHFT         /* | */        &kp RSHFT      &lt NAV SPACE      &ht_mo_repeat SYM 0
            >;
        };

        system_layer {
            bindings = <
            &trans        &trans        &trans           &trans             &trans             /* | */        &trans         &trans             &trans          &trans             &trans
            &trans        &trans        &trans           &trans             &trans             /* | */        &trans         &trans             &trans          &trans             &trans
&lt WIN DEL &trans        &trans        &trans           &trans             &trans             /* | */        &trans         &trans             &trans          &trans             &trans      &trans
                                        /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                        &mo SY2          &trans             &trans             /* | */        &trans         &trans             &mo SY2
            >;
        };

        navigation_layer {
            bindings = <
         &kp PG_UP      &kp BSPC      &kp UP          &kp DEL             &kp LGUI           /* | */        &kp GRAVE      &kp N7             &kp N8          &kp N9            &kp MINUS
         &kp HOME       &kp LEFT      &kp DOWN        &kp RIGHT           &kp END            /* | */        &kp RA(E)      &kp N4             &kp N5          &kp N6            &kp Z
&trans   &mt LGUI ESC   &mt LALT TAB  &mt LCTRL INS   &kp RET             &kp PG_DN          /* | */        &kp N0         &kp N1             &mt RCTRL N2    &mt LALT N3       &mt RGUI EQUAL  &trans
                                      /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                      &kp SPACE       &mt LSHFT N0        &kp RET            /* | */        &kp RET        &mt RSHFT N0       &kp SPACE
            >;
        };

        symbols_layer {
            bindings = <
         &kp RA(Q)       &kp LS(FSLH) &kp RA(N8)      &kp RA(N9)     &insert_caret           /* | */        &kp RS(N1)    &kp NON_US_BSLH    &kp LS(NUBS)    &kp LS(N0)     &kp RS(N6)
         &kp RA(MINUS)   &kp LS(N7)   &kp RA(N7)      &kp RA(N0)     &kp LS(RBKT)            /* | */        &kp LS(MINUS) &kp LS(N8)         &kp LS(N9)      &kp FSLH       &kp LS(DOT)
&trans   &kp NON_US_HASH &kp RS(N4)   &kp RA(NON_US_BACKSLASH) &kp RA(RBKT) &insert_backtick /* | */        &kp RBKT      &kp RS(N5)         &kp RS(N2)      &kp LS(BSLH)   &kp LS(COMMA)  &trans
                                     /* - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                      &kp RALT        &mo LIN        &kp RET                 /* | */        &kp RET       &mo LIN            &kp RALT
            >;
        };

        symbols2_layer {
            bindings = <
         &kp RA(Q)       &kp LS(FSLH) &kp RA(N8)      &kp RA(N9)     &insert_caret           /* | */        &kp RS(N1)    &kp NON_US_BSLH    &kp LS(NUBS)    &kp LS(N0)     &kp RS(N6)
         &kp RA(MINUS)   &kp LS(N7)   &kp RA(N7)      &kp RA(N0)     &kp LS(RBKT)            /* | */        &kp LS(MINUS) &kp LS(N8)         &kp LS(N9)      &kp FSLH       &kp LS(DOT)
&trans   &kp NON_US_HASH &kp RS(N4)   &kp RA(NON_US_BACKSLASH) &kp RA(RBKT) &insert_backtick /* | */        &kp RBKT      &kp RS(N5)         &kp RS(N2)      &kp LS(BSLH)   &kp LS(COMMA)  &trans
                                     /* - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                      &kp RALT        &mo WIN        &kp RET                 /* | */        &kp RET       &mo WIN            &kp RALT
            >;
        };

        linux_layer {
            bindings = <
        &kp K_APP  &kp RA(DOT)    &kp RA(LS(V))  &kp RA(LS(B))  &kp RA(NON_US_HASH)         /* | */        &kp F12  &kp F7  &kp F8  &kp F9  &kp RA(LS(S))
        &kp CAPS   &linux_bullet  &kp RA(V)      &kp RA(B)      &kp RA(N)                   /* | */        &kp F11  &kp F4  &kp F5  &kp F6  &kp RA(SLASH)
&trans  &kp PSCRN  &kp RA(LS(Z))  &kp RA(Z)      &kp RA(X)      &kp RA(LS(X))               /* | */        &kp F10  &kp F1  &kp F2  &kp F3  &kp LS(N3)                                   &trans
                                     /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                  &trans         &trans         &trans                      /* | */        &trans   &trans  &trans
            >;
        };

        windows_layer {
            bindings = <
       &kp K_APP &windows_insert_ellipsis &win_lowerSingleOpenQuote &win_upperSingleOpenQuote &win_upperSingleCloseQuote &kp F12  &kp F7  &kp F8  &kp F9  &kp RA(LS(MINUS))
       &kp CAPS  &win_bullet              &win_lowerOpenDblQuote    &win_upperOpenDblQuote    &win_upperCloseDblQuote    &kp F11  &kp F4  &kp F5  &kp F6  &win_dash
&trans &kp PSCRN &win_singleOpenChevron   &win_doubleRightChevrons  &win_doubleLeftChevrons   &win_singleCloseChevron    &kp F10  &kp F1  &kp F2  &kp F3  &kp LS(N3)                     &trans
                                     /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                     &trans           &trans            &trans             /* | */        &trans         &trans             &trans
            >;
        };

        zmk_layer {
            bindings = <
         &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2    &kp K_VOL_UP       &studio_unlock     /* | */        &kp K_VOL_UP    &none             &kp F20 /* mic */  &none            &none
         &bt BT_CLR    &bt BT_CLR_ALL &none           &none              &ext_power EP_TOG  /* | */        &kp K_MUTE      &kp K_PREV        &kp K_PLAY_PAUSE   &kp K_NEXT       &none
&kp Y    &sys_reset    &bootloader    &soft_off       &out OUT_USB       &out OUT_BLE       /* | */        &kp K_VOL_DN    &none             &none              &bootloader      &sys_reset     &trans
                                     /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                      &none           &none              &none              /* | */        &none           &none             &none
            >;
        };
    };
};
